{% extends 'qed/base.html' %}
{% block title %}Pyon Report: {{ title }}{% endblock %}
{% block body %}
    <br>
    <div class="container">
        {% for key, value in sim_results.items() %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ key }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            Number of samples: {{value['resampled_params']|length}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            Mass-squared difference: <code>{{ value['average_params'] }} ({{ value['errs'] }})</code>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#resampled-{{ value['hash'] }}">
                                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Samples
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div id="resampled-{{ value['hash'] }}" class="collapse">
                                <pre style="word-break: normal; word-wrap: normal; white-space:pre-wrap;">{% for el in value['resampled_params'] %}{{'%0.20f'| format(el|float)}} {% endfor %}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}